	<footer>
		<div class="agileits-w3layouts-footer wow fadeIn">
			<div class="container">
				<div class="col-md-4 w3-agile-grid wow fadeIn" data-wow-delay=".25s">
					<h5>Acerca de nosotros</h5>
					<p>Somos una empresa con mas de 10 años de experiencia en la confección de materiales deportivos, resaltando sobre todo la responsabilidad y honestidad en cada uno de los proyectos que se nos encomienda.<br><br>Esperamos nunca desviarnos de este camino que nos ha permitido ir creciendo y tener clientes a lo largo y ancho de nuestro querido país.</p>
					<div class="footer-agileinfo-social">
						<ul>
							<li><a href="https://www.facebook.com/tablerosdebasketballyequipamientosdeportivos/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-md-4 w3-agile-grid wow fadeIn" data-wow-delay=".50s">
					<h5>Contactanos</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Número de teléfono</h6>
								<p><a href="tel:015755537">(01) 575 5537</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Correo Electrónico</h6>
								<p><a href="mailto:equipamientosdeportivos@hotmail.com"> equipamientosdeportivos@hotmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Dirección</h6>
								<p> Urb. Las Brisas de Santa Rosa Mz. J Lt. 6 - S.M.P Lima - Perú
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid wow fadeIn" data-wow-delay=".75s">
					<h5>Nuestros Clientes</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="javascript:void(0)"><img src="/assets/images/p1.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="javascript:void(0)">
								Colegio PIO XII
								</a></h6>
								<p>Setiembre 2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="javascript:void(0)"><img src="/assets/images/p2.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="javascript:void(0)">
								Club Ecológico Sierra Morena</a></h6>
								<p>Agosto 2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="javascript:void(0)"><img src="/assets/images/p3.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="javascript:void(0)">
								Municipalidad de Lima</a></h6>
								<p>Julio 2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="javascript:void(0)"><img src="/assets/images/p1.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="javascript:void(0)">
								IPD	
								</a></h6>
								<p>Junio 2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<div class="container wow fadeIn" data-wow-delay=".75s">
				<p>AWS © <span>2025</span> EQUI. DEPOR SERVICIOS MULTIPLE. Todos los derechos reservados | <a href="http://TablerosDeBasketball.com">TablerosDeBasketball.com</a></p>
			</div>
		</div>
	</footer>