<div class="header">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="wow fadeInLeft" data-wow-delay=".25s"><a href="/" style="font-family: 'Fjalla One', sans-serif;"><img src="/assets/images/tablero.svg" style="width: 46px;">TablerosDeBasketball</a></h1>
			</div>
			<div class="top-nav-text wow tada" data-wow-delay="4s" data-wow-iteration="2">
				<div class="nav-contact-w3ls">
				<i class="fa fa-phone" aria-hidden="true"></i>
					<p id="phoneWhatsapp">999 694 785</p>
				</div> 
			</div>
			<!-- navbar-header -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
							<li>
							<a class="hvr-underline-from-center active" href="/">
							<i class="fa fa-home"></i></a>
							</li>
							<li>
							<a href="/servicios" class="hvr-underline-from-center">Servicios</a>
							</li>
							<!--<li>
							<a href="#team" class="hvr-underline-from-center scroll scroll">Portafolio</a></li>-->
							<li>
							<a href="/equipamiento-deportivo" data-toggle="dropdown" class="hvr-underline-from-center">
							<span data-hover="ShortCodes">Equipamiento Deportivo</span> <i class="fa fa-angle-down"></i>
							</a>
								<ul class="dropdown-menu">
									<li>
									<a href="/equipamiento-deportivo/basketball"><span>Basketball</span></a></li>
									<li>
									<a href="/equipamiento-deportivo/futbol"><span>Fútbol</span></a>
									</li>
									<li>
									<a href="/equipamiento-deportivo/voley"><span>Vóley</span></a>
									</li>
									<li>
									<a href="/equipamiento-deportivo/otros"><span>Otros</span></a>
									</li>
								</ul>
							</li>	
							<li><a href="/contactanos" class="hvr-underline-from-center">Contactanos</a></li>
						</ul>
			</div>

			<div class="clearfix"> </div>	
		</nav>
</div>