<div id="preloader">
<div id="statuslogo">
	<img src="/assets/images/preload.svg" class="img-responsive">
</div>	
 
<div id="status">
	<svg version="1.1" id="svg_icon_load" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200.23 200.23">
	<path opacity="0.2" fill="#000" d="M100.11,0A100.11,100.11,0,1,0,200.23,100.11,100.12,100.12,0,0,0,100.11,0Zm-.17,193.07A93.06,93.06,0,1,1,193,100,93.06,93.06,0,0,1,99.94,193.07Z"/>
	<path fill="#000" d="M150.13,13.48A99.5,99.5,0,0,0,100.11,0V7a92.62,92.62,0,0,1,46.53,12.55Z">
	<animateTransform attributeType="xml"
	  attributeName="transform"
	  type="rotate"
	  from="0 100 100"
	  to="360 100 100"
	  dur="0.8"
	  repeatCount="indefinite"/>
	</path>
	</svg>
</div>
</div>